* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    user-select: none;
    scroll-behavior: smooth;
}
:root {
    --primary-color: #5a6e79;
}
.container {
    max-width: 1350px;
    margin: auto;
}
.iconcolorprimary {
    color: var(--primary-color);
}
.iconcolor {
    color: white;
}
.nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
    max-height: 130px;
    align-items: center;
}
.responsive_menu {
    display: none;
}
.marginLeft {
    margin-left: 135px;
}
.marginRight {
    margin-right: 135px;
}
.navdivul {
    list-style-type: none;
    display: flex;
    gap: 50px;
}
.navdivli a,
#navname a {
    text-decoration: none;
    color: black;
}
#navicons {
    display: flex;
    gap: 40px;
}
#navicons img {
    height: 25px;
    width: 25px;
}
#bannertext {
    width: 500%;
    background-color: var(--primary-color);
    color: white;
    position: absolute;
    top: 25%;
    right: 70%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 14%;
    justify-content: center;
    z-index: 4;
}
#bannertext h1,
#bannertext p {
    max-width: 220px;
}
#bannertext h1 {
    font-size: 2em;
}
#bannertext p {
    padding-top: 20px;
    font-size: 1em;
}
#bannerimage {
    background: url(/images/livingroom.jpg)no-repeat center center/cover;
    height: 500px;
    max-width: 1000px;
    width: 68%;
    position: relative;
    margin: auto;
}
#emptybox {
    width: 10%;
    height: 20%;
    border: 2px solid var(--primary-color);
    position: absolute;
    top: 84%;
    left: -2%;
    z-index: -1;
}
.downarrow {
    height: 20%;
    width: 15%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    position: absolute;
    top: 82%;
    right: -1%;
}
.downarrow a {
    margin: auto;
    color: white;
    background-color: var(--primary-color);
}
.downarrow a i {
    font-size: 200%;
}
#bannersideline {
    position: absolute;
    right: -3%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#zero_one {
    margin-top: 40px;
}
.bannerline {
    border-left: 2px solid var(--primary-color);
    height: 50px;
}
.section2 {
    margin-top: 20px;
}
.heading {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    padding: 20px 0px;
}
.headingline {
    width: 6%;
    border: 2px solid var(--primary-color);
    border-radius: 500px;
}
.h1heading {
    margin-left: 4%;
    max-width: 32%;
    font-size: 2.5em;
}
.info {
    width: 80%;
    height: 50%;
    display: flex;
    padding: 20px;
}
.infodetail {
    height: 100%;
    width: 33.3%;
    display: flex;
}
.headingicon {
    width: 20%;
    display: flex;
}
.headingtext {
    width: 80%;
}
.insideheading,
.insidedetail {
    margin-left: 10%;
}
.insidedetail p {
    width: 85%;
    line-height: 25px;
}
.infodetail img {
    width: 40px;
    height: 40px;
}
.truckicon img {
    width: 100px;
}
.section3 {
    width: 100%;
    display: flex;
}
#about1 {
    width: 50%;
    display: flex;
    align-items: center;
}
#about1 img {
    width: 60%;
}
#about2 {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.numberdetail h6,
.numberdetail p {
    color: var(--primary-color);
}
#aboutdetail1 {
    display: flex;
    align-items: center;
}
#aboutdetail1 h2 {
    max-width: 360px;
    font-size: 2em;
}
#aboutdetail2 {
    display: flex;
    align-items: center;
}
#aboutdetail2 p {
    max-width: 520px;
    font-size: 1em;
    color: var(--primary-color);
}
#aboutdetail3 {
    display: flex;
    align-items: baseline;
}
#numberdetail1, #numberdetail2, #numberdetail3{
    width: 33.3%;
}
.numberdetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.numberdetail h6 {
    font-size: 2em;
}
#aboutdetail4 a {
    padding: 2% 5%;
    border: 2px solid var(--primary-color);
    text-decoration: none;
    color: var(--primary-color);
}
.btnarrow {
    position: relative;
    right: 15px;
    top: 25px;
}
#aboutdetail4 img {
    height: 58px;
    width: 90px;
}
.section4 {
    padding: 40px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#feature1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#feature2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
#feature2 img {
    width: 70%;
}
.featureheading {
    width: 100%;
}
.featureheading h2 {
    max-width: 70%;
    font-size: 2em;
    padding: 30px 0px;
}
.featurecontent {
    counter-reset: count;
    padding: 20px;
    padding-bottom: 0px;
}
.time_line{
    margin: 0px auto;
    border-left: 2px solid #ccc;
    padding: 0 20px 0 30px;
}
.time_line:last-of-type{
    border-left: 0px solid #ffffff
}
.timeline_content{
    background-color: #fff;
    padding: 10px 0px;
    font-size: 16px;
    padding-left: 10px;
    line-height: 1.7;
}
.time_line{
    position: relative;
}
.time_line::before{
    counter-increment: count;
    content: "0" counter(count);
    position: absolute;
    left: -2em;
    background: var(--primary-color);
    width: 4em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: -0.4em;
    border: 10px solid white;
    box-sizing: border-box;
    color: white;
}
#reviewheading {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#reviewheading h2 {
    font-size: 40px;
}
.reviewsubheadingarrow {
    display: flex;
    width: 5%;
    justify-content: space-between;
}
#reviewcontent {
    width: 100%;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reviewinsidecontent {
    padding: 0px 0px 20px 0px;
    width: 36%;
    background-color: var(--primary-color);
    border-radius: 2px;
}
.reviewinsidecontent i {
    font-size: 90px;
    margin-left: 10%;
}
.reviewinsidecontent h3 {
    margin-left: 10%;
    color: white;
    margin-top: 7%;
    max-width: 60%;
}
.reviewinsidecontent p {
    margin-left: 10%;
    color: white;
    margin-top: 7%;
}
.userid {
    display: flex;
    justify-content: space-between;
    max-width: 200px;
    margin-top: 7%;
    margin-left: 5%;
}
.userid i {
    font-size: 50px;
}
.userid img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin: auto;
}
.username {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.username h4 {
    color: white;
}
.username p {
    margin-top: 7%;
    color: white;
    font-size: 10px;
    margin-left: 0px;
}
#footer1 {
    padding: 20px 0px 40px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}
#footer1 h2 {
    font-size: 40px;
    max-width: 500px;
}
#footer1 p {
    max-width: 400px;
    margin-top: 20px;
}
.subscribebtn {
    position: absolute;
    bottom: -25px;
    z-index: 2;
    background-color: white;
    height: 50px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.subscribebtn input {
    border: none;
    margin-left: 40px;
}
.subscribebtn a {
    text-decoration: none;
    color: black;
    height: 80%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 6px;
    background-color: var(--primary-color);
}
#footer2 {
    background-color: var(--primary-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: white;
    padding: 20px 0px;
}
footer {
    background-color: var(--primary-color);
}
#footer2 a {
    text-decoration: none;
    color: white;
    font-size: 13px;
}
#footer2 h5 {
    font-size: 17px;
}
#footerdetail1 {
    margin-top: 80px;
    padding-right: 10%;
}
#footerdetail1 h4 {
    font-size: 22px;
}
#footerdetail1 p {
    margin-top: 20px;
}
#footerdetail2 {
    margin-top: 80px;
    display: flex;
    gap: 15px;
    flex-direction: column;
}
#footerdetail3 {
    margin-top: 80px;
    display: flex;
    gap: 15px;
    flex-direction: column;
}
#footerdetail4 {
    margin-top: 80px;
    display: flex;
    gap: 15px;
    flex-direction: column;
}
#footerdetail5 {
    margin-top: 80px;
    display: flex;
    gap: 15px;
    flex-direction: column;
}
#footerdetail1 p {
    max-width: 200px;
}
.socialicons {
    display: flex;
    gap: 30px;
}
@media (min-width:700px) and (max-width:1000px) {
    .marginLeft{
        margin-left: 0px;
    }
    .marginRight {
        margin-right: 0px;
    }
    #footer2 {
        padding-left: 15px;
        padding-right: 15px;
    }
    .nav {
        padding-left: 15px;
        padding-right: 15px;
    }
    .responsive_menu {
        display: none;
    }
    #footer1 h2 {
        font-size: 2em;
    }
    #emptybox {
        display: none;
    }
    .downarrow {
        display: none;
    }
    #bannersideline {
        display: none;
    }
    #bannertext {
        position: static;
        width: 100%;
        right: 0;
        padding-right: 0;
        align-items: center;
    }
    #bannerimage {
        width: 100%;
    }
    #bannertext h1,
    #bannertext p {
        max-width: 500px;
        text-align: center;
    }
    .heading {
        justify-content: center;
    }
    .h1heading {
        max-width: 77%;
        font-size: 2em;
    }
    .info {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 20px;
    }
    .truckicon img {
        position: relative;
        right: 15px;
    }
    .infodetail {
        width: 45%;
    }
    .insideheading h3 {
        font-size: 1.3em;
    }
    .section3{
        flex-direction: column;
        align-items: center;
    }
    #about1 {
        justify-content: center;
    }
    #about2{
        padding: 20px 0px;
        width: 80% ;
    }
    #aboutdetail2{
        padding: 20px 0px;
    }   
    .section4 {
        flex-direction: column;
    }

    #feature1 {
        width: 80%;
    }
    #feature2 {
        width: 50%;
        justify-content: center;
    }

    #reviewheading {
        justify-content: space-around;
    }
    #reviewcontent {
        flex-direction: column;
        gap: 20px;
    }
    .userid {
        margin-bottom: 2%;
    }
    .reviewinsidecontent {
        width: 72%;
    }
    .reviewinsidecontent i {
        margin-top: 4%;
    }
    .reviewinsidecontent p {
        margin-top: 4%;
    }    .reviewinsidecontent h3 {
        margin-top: 4%;
    }
}
@media (min-width:300px) and (max-width:700px) {
    .marginLeft {
        margin-left: 0px;
    }
    .marginRight {
        margin-right: 0px;
    }
    #navicons {
        padding-right: 20px;
    }
    #aboutdetail4 img {
        height: 58px;
        width: 40px;
    }
    #navname {
        padding-left: 20px;
    }
    #navicons img {
        margin: 0%;
    }
    #navoptions {
        display: none;
    }
    .search_image {
        display: none;
    }
    .menu_image {
        display: none;
    }
    .subscribebtn {
        width: 250px;
    }
    .reviewsubheadingarrow {
        display: none;
    }
    #footerdetail1 {
        text-align: center;
    }
    #emptybox {
        display: none;
    }
    .downarrow {
        display: none;
    }
    #bannersideline {
        display: none;
    }
    #bannertext {
        width: 100%;
        right: 0;
        align-items: center;
        padding-right: 0;
    }
    #bannerimage {
        position: static;
        width: 100%;
    }
    #bannertext h1,
    #bannertext p {
        max-width: 500px;
        text-align: center;
    }
    #bannertext h1 {
        padding-top: 15px;
        font-size: 1.3em;
        padding-left: 20px;
        padding-right: 20px;
    }
    #bannertext p {
        padding-bottom: 20px;
        font-size: .8em;
    }
    .heading {
        justify-content: center;
        padding: 0px 0px;
    }
    .infodetail img {
        width: 30px;
        height: 30px;
    }
    .h1heading {
        max-width: 77%;
        font-size: 1.5em;
    }
    .numberdetail p {
        font-size: .7em;
    }
    .info {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .truckicon img {
        width: 60px;
        position: relative;
        right: 15px;
    }
    .infodetail {
        width: 80%;
        padding: 10px 0px;
    }
    .insideheading h3 {
        font-size: 1.2em;
    }
    .insidedetail p {
        font-size: .8em;
    }
    .section3 {
        flex-direction: column;
        align-items: center;
    }
    #about1 {
        justify-content: center;
    }
    #about2 {
        width: 90%;
        padding-left: 20px;
        padding-right: 20px;
    }
    #about1 img {
        width: 250px;
    }
    #aboutdetail1 h2 {
        font-size: 1.5em;
    }
    #aboutdetail2 p {
        font-size: .8em;
    }
    .section4 {
        flex-direction: column;
        padding: 0;
    }
    #feature1 {
        width: 85%;
    }
    #reviewheading {
        justify-content: space-around;
        padding: 0px 0px;
    }
    #reviewheading h2 {
        font-size: 1.5em;
        padding: 15px 35px;
        max-width: 100%;
    }
    #reviewcontent {
        flex-direction: column;
        gap: 20px;
    }
    .userid {
        margin-bottom: 2%;
        margin-top: 4%;
        margin-right: 20px;
    }
    .reviewinsidecontent {
        width: 72%;
    }
    .reviewinsidecontent i {
        margin-top: 4%;
    }
    .reviewinsidecontent p {
        margin-top: 4%;
        font-size: .7em;
        margin-right: 20px;
    }
    .reviewinsidecontent h3 {
        margin-top: 4%;
    }
    .featureheading h2 {
        max-width: 100%;
        font-size: 1.5em;
        padding: 10px 0px;
    }
    #feature2 img {
        width: 249px;
    }
    .subscribebtn a {
        position: relative;
        right: 27px;
        font-size: .8em;
        padding: 20px;
    }
    #footer1 h2 {
        font-size: 1.5em;
    }
    #footer1 p {
        font-size: 1em;
        padding: 0px 15px 15px 15px;
    }
    #footer1 {
        padding: 0px 10px 30px 10px;
    }
    #aboutdetail1{
        padding: 10px 0px;
    }
    #aboutdetail2{
        padding: 10px 0px;
    }
    #aboutdetail3{
        padding: 10px 0px;
    }
    #aboutdetail4{
        position: relative;
        bottom: 20px;
    }
    #aboutdetail5{
        padding: 10px 0px;
    }
    #footerdetail2 {
        margin-top: 10px;
    }
    #footerdetail3 {
        margin-top: 10px;
    }

    #footerdetail4 {
        margin-top: 10px;
    }

    #footerdetail1 {
        margin-top: 30px;
    }
    #footerdetail5 {
        margin-top: 10px;
    }
    #footer2 {
        flex-direction: initial;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 44px 30px;
        padding: 50px 0px;
    }
    .responsive_menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .menu_icon {
        display: block;
        background-color: white;
        color: #333;
        padding: 10px;
        cursor: pointer;
    }
    .nav {
        max-height: 50px;
    }
    .menu_icon i {
        font-size: 20px;
    }
    .dropdown_items {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 200px;
        z-index: 100;
        top: 50px;
        padding: 10px;
    }
    .dropdown_items ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .dropdown_items li {
        padding: 5px 0;
    }
    .menu_checkbox:checked~.dropdown_items {
        display: block;
    }
    .menu_checkbox{
        visibility: hidden;
    }
}
